<div id="search_bar">
  <%= form_for :topic, url: topics_path do |f| %>
    Enter Any Word, Topic, Idea, etc.: <%= f.text_field :topic %><br />
    <%= f.submit "Submit" %>
  <% end %>


  <%= form_for :topic, url: topics_path, :html => {:class => "explore"} do |f| %>
    <%= f.hidden_field :topic, :value => @random_word %>
    <%= f.submit "Explore" %>
  <% end %>
</div>


