<% if current_user %>
  <div id='journey'> Current Journey: <span><%= @journey[:title] %></span> </div><span id="journey_id" style="display: none;"><%= @journey[:id] %></span>
<% end %>
  <div><h1><%= @word_association[:word] %></h1>
    <p> <%= @description %> </p>
    <img src="<%= @photo %>">
    <% @word_association[:definitions].each do |definition| %>
      <div><%= definition["text"] %></div>
    <% end %>
    <% @word_association[:word_associations].each do |association| %>
      <div><%= association["words"] %></div>
    <% end %>
  </div>

<div id='wolfram'>  
  <% @wolfram.each do |result| %>
    <div><img src='<%= result["image"]["src"] %>' alt='image'/></div>
  <% end %>
</div>
</div> 
<div id="viz"></div>


