<% if current_user %>
  <div id='journey'> Current Journey: <span><%= @journey[:title] %></span> </div><span id="journey_id" style="display: none;"><%= @journey[:id] %></span>
  <div id='past_topics'><a id='sup' data-tooltip='<%= @topic.name %>'><div class='bubble'></div></a>
</div>
<% end %>

  <div><h1 style="display:none;"><%= @word_association[0][:word] %></h1><% unless !@word_association[0][:reverse_definitions].nil? %><span><%=@word_association[0][:reverse_definitions]["results"].sample["text"] %> <% end %>
  </div>

<% if current_user %>
  <%= button_to "End Journey" , journey_path(@journey.id) , method: "get", id: "end_journey" %>
<% end %>

<div id="define"><h2>Description</h2><p id="description"> <%= @description %> </p>
  <div id="definitions"><h2>Definitions<h2><p><p></div>
  <div id="reverse_definitions"><h2>Reverse Definitions<h2><p><p></div>

  </div>
    </div>

<div id="pictures"><h2>Pictures</h2></div>
<div id="videos"><h2>Videos</h2></div>
<div id="stats"><h2>Information</h2></div>

</div>

<span id="counter" style="display:none"></span>

<span id="topic_id" style="display:none"><%=@topic.id%></span>
<%= javascript_include_tag "treediagram" %>
<div id="viz"></div>
<div class="arrow-right"><div class="iconmelon">
  <svg viewBox="0 0 32 32">
    <use xlink:href="#camera-video"></use>
  </svg>
</div></div>
<div class="arrow-left"><div class="iconmelon">
  <svg viewBox="0 0 32 32">
    <use xlink:href="#dashboard-speed"></use>
  </svg>
</div></div>
<div class="arrow-top"><div class="iconmelon">
  <svg viewBox="0 0 32 32">
    <use xlink:href="#receipt-shopping"></use>
  </svg>
</div></div>
<div class="arrow-bottom"><div class="iconmelon">
  <svg viewBox="0 0 32 32">
    <use xlink:href="#picture-stock"></use>
  </svg>
</div></div>

 <div class="nav-key-container">
      <div class="nav-commands">
        <div class="arrow-row">
          <div class="fake-key"></div>
          <div class="arrow-key" id="up-arrow">↑</div>
          <div class="fake-key"></div>
        </div>
        <div class="arrow-row">
          <div class="arrow-key" id="left-arrow">←</div>
          <div class="arrow-key" id="down-arrow">↓</div>
          <div class="arrow-key" id="right-arrow">→</div>
        </div>
        <div class="clear-row">
          <div id="clear-key">c</div>
        </div>
      </div>
      <div class="keys">
          <ul class="key-container">
            <li><span class="key">key up:</span> pictures</li>
            <li><span class="key">key down:</span> description</li>
            <li><span class="key">key left:</span> stats</li>
            <li><span class="key">key right:</span> videos</li>
            <li><span class="key">c:</span> clear the screen</li>
          </ul>
        </div>
      </div>

<script>
  $(document).ready( function(){
    makeTimeline();
  });
</script>