<% if current_user %>
  <div id='journey'> Current Journey: <%= @journey[:title] %> </div>
<% end %>
  <div><h1><%= @word_association[:word] %></h1>
    <p> <%= @description %> </p>
    <img src="<%= @photo %>">
    <% @word_association[:definitions].each do |definition| %>
      <div><%= definition["text"] %></div>
    <% end %>
    <% @word_association[:word_associations].each do |association| %>
      <div><%= association["words"] %></div>
    <% end %>
  </div>
</div>
<div class="Youtube-videos">
  <% 4.times do %>
    <% @video.each do |vid| %>
      <div id="video">
        <iframe width="420" height="345"
        src="http://www.youtube.com/embed/<% vid["videoId"] %>">
        </iframe>
      </div>
    <% end %>
  <% end %>
</div>
<div id="viz"></div>

