<% if current_user %>
  <div id='journey'> Current Journey: <span><%= @journey[:title] %></span> </div><span id="journey_id" style="display: none;"><%= @journey[:id] %></span>
<% end %>
  <div><h1><%= @word_association[0][:word] %></h1><% unless !@word_association[0][:reverse_definitions].nil? %><span><%=@word_association[0][:reverse_definitions]["results"].sample["text"] %> <% end %>
  </div>
  
<div id="define"><h2>Description</h2><p> <%= @description %> </p>
  <% @word_association[0][:definitions].each do |definition| %>
      <div><%= definition["text"] %></div>
      <% end %></div>

<div id="pictures"></div>
<div id="videos"></div>
<div id="stats"></div>

</div>

<span id="counter" style="display:none"></span>

<span id="topic_id" style="display:none"><%=@topic.id%></span>
<%= javascript_include_tag "treediagram" %>
<div id="viz"></div>


