<% if current_user %>
  <div id='journey'> Current Journey: <%= @journey[:title] %> </div>
<% end %>
  <div><h1><%= @word_association[:word] %></h1>
    <p> <%= @description %> </p>
    <img src="<%= @photo %>">
    <% @word_association[:definitions].each do |definition| %>
      <div><%= definition["text"] %></div>
    <% end %>
    <% @word_association[:word_associations].each do |association| %>
      <div><%= association["words"] %></div>
    <% end %>
  </div>
</div>
<div class="Youtube-videos">
  <% @videos.each do |video| %>
    <div id="video">
      <iframe width="420" height="345"
      src="http://www.youtube.com/embed/<%= video[0] %>">
      </iframe>
    </div>
  <% end %>
  <button class="refresh">Refresh Videos</button>
</div>
<script type="text/javascript">
var j = 4
$('button.refresh').click(function() {
  $('iframe').remove();
  $('div#video').remove();
  for ( var i = 0; i < 4; i++){
    $.getJSON( "https://www.googleapis.com/youtube/v3/search?part=snippet&q=pikachu&maxResults=10&key=AIzaSyCRDeDMGiK7fjDi3u04Qiz1TmuNRnSECdk", function (data) {
    var ytObject = data;
    // data.items[1].id.videoId
    });
    $('<div id="video">');
    if ( ytObject.items.length > j ){
      j = 0
    }
    $('<iframe width="420" height="345">').attr( "src", 'http://www.youtube.com/embed/' + ytObject.items[j].id.videoId + '')
    j++
  }

});
</script>
<div id="viz"></div>

