<% if current_user %>
  <div id='journey'> Current Journey: <%= @journey[:title] %> </div>
<% end %>
  <div><h1><%= @word_association[:word] %></h1>
    <p> <%= @description %> </p>
    <img src="<%= @photo %>">
    <% @word_association[:definitions].each do |definition| %>
      <div><%= definition["text"] %></div>
    <% end %>
    <% @word_association[:word_associations].each do |association| %>
      <div><%= association["words"] %></div>
    <% end %>
  </div>
</div> 
<div id="viz"></div>
<script type="text/JavaScript" src="treediagram.js"></script> 
