<h2><%= @user.first_name.capitalize %>'s Homepage</h2>

<%= link_to "Edit My Info", edit_user_path(@user) %>

<%= form_tag user_path(@user), method: "delete" do %>
<%= submit_tag("Delete My Account") %>
<% end %>



<div class="journey_wrapper">
  <h2 class="saved_headline">Saved Journeys</h2>
  <span class="journey_title">
  <ul id="user_journey_list">
    <% journey_list = Journey.where(:user_id == @user.id) %>
    <% journey_list.each do |journey| %>
      <li><a href="/journeys/<%= journey.id %>"><%= journey.title  %></a></li>
      <%= button_to "Delete" , journey_path(journey.id) , method: "delete" %><br/>
    <% end %>
  </ul>
  </span> 
</div>

