<div class="journey_wrapper">
  <h2 class="saved_headline"><%= @user.first_name %>'s Saved Journeys</h2>
  <%= link_to "Edit My Info", edit_user_path(@user), class: "edit-account" %>

<%= form_tag user_path(@user), method: "delete", class: "delete-account" do %>
<%= submit_tag("Delete My Account") %>
<% end %>
  <span class="journey_title">
  <ul id="user_journey_list" class="journey-item">
    <% journey_list = Journey.where(user_id: @user.id) %>
    <% journey_list.each do |journey| %>
      <li><%= link_to journey.title, journey_path(journey.id), method: "get", class: "view-journey"  %>
      <%= button_to "Delete" , journey_path(journey.id) , method: "delete" %></li>
    <% end %>
  </ul>
  </span> 
</div>

