<div id = "journey_show">
  <div class="the-journey">
    <h1 class="your-journey">From 
    <span class="starting-word"><%= @journey.topics.first.name %></span> 
    to 
    <span class="ending-word"><%= @journey.topics.last.name %></span> 
    in 
    <span class="tangent-number"><%= @journey.topics.count %></span>
    tangents.</h1>

    <div class="bar-actions">
      <%= button_to "Delete" , journey_path(@journey.id) , method: "delete" %>
      <%= button_to "Reset" , journey_path(@journey.id) , method: "get" %>
      <input type="checkbox" id="sort"><span>Sort</span>
    </div>

    <div id="bar-chart">
    </div>
  </div>
</div>

<script type="text/javascript">
  window.journeyID = <%= @journey.id %>;
</script>

<%= javascript_include_tag "journeybargraph" %>
