<!DOCTYPE html>
<html>
<head>
  <title>Tangent</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <svg id="svg-source" height="0" version="1.1" 
  xmlns="http://www.w3.org/2000/svg" style="position:absolute; margin-left: -100%" 
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="compass" data-iconmelon="Batch:bef0eb947637d9aab57e7c362b767846">
    <path id="compass"  d="M16,32C7.164,32,0,24.836,0,16S7.164,0,16,0s16,7.164,16,16S24.836,32,16,32z M16,4
  C9.374,4,4,9.374,4,16s5.374,12,12,12s12-5.374,12-12S22.626,4,16,4z M10.342,21.656c-1.562-1.56,1.266-6.922,2.83-8.484
  c1.562-1.562,6.925-4.39,8.484-2.828c1.562,1.56-1.267,6.921-2.828,8.484C17.266,20.39,11.906,23.218,10.342,21.656z M20.242,11.758
  c-0.782-0.782-4.875,2.046-5.656,2.828l2.828,2.828C18.196,16.632,21.024,12.54,20.242,11.758z"></path>
  </g>
  <g id="shuffle" data-iconmelon="Batch:f9894992e474d68bbd15ea540a291db8">
    <path id="shuffle"  d="M2,10.002c-1.104,0-2-0.896-2-2c0-1.104,0.896-2,2-2h2c2.561,0,4.872,0.992,6.641,2.576
  c-0.869,1.09-1.539,2.328-1.984,3.682c-1.1-1.366-2.766-2.258-4.656-2.258H2z M20,10.002c-3.313,0-6,2.686-6,6
  c0,5.524-4.479,10-10,10H2c-1.104,0-2-0.894-2-2s0.896-2,2-2h2c3.314,0,6-2.687,6-6c0-5.522,4.479-10,10-10h4V4
  c0-0.808,0.488-1.54,1.234-1.848c0.747-0.308,1.608-0.136,2.18,0.434l4,4C31.804,6.976,32,7.488,32,8
  c0,0.512-0.196,1.024-0.586,1.414l-4,4c-0.571,0.572-1.433,0.742-2.18,0.434C24.488,13.54,24,12.808,24,12v-1.998H20z
   M27.414,18.586l4,4C31.804,22.976,32,23.487,32,24s-0.196,1.024-0.586,1.414l-4,4c-0.571,0.572-1.433,0.741-2.18,0.435
  C24.488,29.54,24,28.808,24,28v-1.998h-4c-2.56,0-4.872-0.989-6.643-2.574c0.869-1.092,1.539-2.328,1.986-3.684
  c1.101,1.368,2.767,2.258,4.656,2.258h4V20c0-0.808,0.488-1.54,1.234-1.849C25.981,17.845,26.843,18.017,27.414,18.586z"></path>
  </g>
</svg>
<svg id="svg-source" height="0" version="1.1" 
  xmlns="http://www.w3.org/2000/svg" style="position:absolute; margin-left: -100%" 
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="picture-stock" data-iconmelon="Streamline Icon Set:773ffe38a19f898fa257f9541dc94a6d">
    <g id="Expanded">
      <g>
        <g>
          <polygon  points="32,32 7.333,32 7.333,30.667 30.667,30.667 30.667,7.333 32,7.333       "></polygon>
        </g>
        <g>
          <polygon  points="29.333,29.333 3.333,29.333 3.333,28 28,28 28,3.333 29.333,3.333       "></polygon>
        </g>
        <g>
          <path  d="M25.333,1.333v24h-24v-24H25.333 M26.667,0H0v26.667h26.667V0L26.667,0z"></path>
        </g>
        <g>
          <path  d="M6.571,21.011l-1.143-0.687l4-6.667c0.111-0.185,0.305-0.305,0.52-0.321
        c0.218-0.019,0.426,0.072,0.563,0.238l2.762,3.314l4.838-7.257c0.139-0.208,0.383-0.32,0.631-0.292
        c0.249,0.029,0.46,0.194,0.548,0.429l4,10.667l-1.248,0.468l-3.543-9.448l-4.612,6.917c-0.116,0.176-0.309,0.285-0.52,0.296
        c-0.209,0.009-0.413-0.077-0.547-0.239l-2.733-3.278L6.571,21.011z"></path>
        </g>
        <g>
          <path  d="M8,9.333c-1.471,0-2.667-1.196-2.667-2.667S6.529,4,8,4s2.667,1.196,2.667,2.667S9.471,9.333,8,9.333z
         M8,5.333c-0.735,0-1.333,0.598-1.333,1.333S7.265,8,8,8s1.333-0.598,1.333-1.333S8.735,5.333,8,5.333z"></path>
        </g>
        <g>
          <rect y="20"  width="26.667" height="1.333"></rect>
        </g>
      </g>
    </g>
  </g>
  <g id="camera-video" data-iconmelon="Streamline Icon Set:cf6d3062f555131aab9f2d41cb1b1cdc">
    <g id="Expanded">
      <g>
        <g>
          <path  d="M22,27.333H3.333c-1.103,0-2-0.896-2-2V13.334c0-1.103,0.897-2,2-2H22c1.103,0,2,0.897,2,2v11.999
        C24,26.437,23.103,27.333,22,27.333z M3.333,12.667c-0.368,0-0.667,0.3-0.667,0.667v11.999C2.667,25.7,2.965,26,3.333,26H22
        c0.368,0,0.667-0.3,0.667-0.667V13.334c0-0.367-0.299-0.667-0.667-0.667H3.333z"></path>
        </g>
        <g>
          <path  d="M8,22.667c-1.471,0-2.667-1.196-2.667-2.667S6.529,17.334,8,17.334s2.667,1.195,2.667,2.666
        S9.471,22.667,8,22.667z M8,18.667c-0.735,0-1.333,0.598-1.333,1.333S7.265,21.333,8,21.333S9.333,20.735,9.333,20
        S8.735,18.667,8,18.667z"></path>
        </g>
        <g>
          <path  d="M17.333,22.667c-1.47,0-2.667-1.196-2.667-2.667s1.196-2.666,2.667-2.666C18.804,17.334,20,18.529,20,20
        S18.804,22.667,17.333,22.667z M17.333,18.667C16.598,18.667,16,19.265,16,20s0.598,1.333,1.333,1.333
        c0.736,0,1.334-0.598,1.334-1.333S18.069,18.667,17.333,18.667z"></path>
        </g>
        <g>
          <path  d="M17.333,18.667H8c-0.369,0-0.667-0.299-0.667-0.667S7.631,17.334,8,17.334h9.333
        C17.702,17.334,18,17.632,18,18S17.702,18.667,17.333,18.667z"></path>
        </g>
        <g>
          <path  d="M15.333,12.667c-0.369,0-0.667-0.299-0.667-0.667V9.334c0-0.367-0.299-0.667-0.667-0.667H0.667
        C0.298,8.667,0,8.368,0,8c0-0.367,0.298-0.666,0.667-0.666H14c1.103,0,2,0.897,2,2V12C16,12.368,15.702,12.667,15.333,12.667z"></path>
        </g>
        <g>
          <path  d="M20.667,12.667C20.298,12.667,20,12.368,20,12V8c0-1.103,0.897-2,2-2h2.667
        c0.368,0,0.666,0.299,0.666,0.667s-0.298,0.667-0.666,0.667H22c-0.368,0-0.667,0.299-0.667,0.666v4
        C21.333,12.368,21.035,12.667,20.667,12.667z"></path>
        </g>
        <g>
          <path  d="M30,8.667h-4c-1.103,0-2-0.897-2-2s0.897-2,2-2h4c1.103,0,2,0.897,2,2S31.103,8.667,30,8.667z M26,6
        c-0.368,0-0.667,0.3-0.667,0.667S25.632,7.334,26,7.334h4c0.368,0,0.667-0.3,0.667-0.667S30.368,6,30,6H26z"></path>
        </g>
        <g>
          <path  d="M30.615,25.642c-0.181,0-0.36-0.035-0.532-0.107l-7.006-2.919c-0.34-0.142-0.501-0.532-0.359-0.872
        c0.143-0.34,0.534-0.5,0.872-0.358l7.007,2.919l0.07-0.047v-8.513l-0.328-0.663l0.258,0.615l-7.007,2.919
        c-0.339,0.143-0.729-0.019-0.872-0.358c-0.142-0.34,0.02-0.73,0.359-0.872l7.006-2.919c0.428-0.18,0.914-0.132,1.301,0.126
        C31.77,14.85,32,15.28,32,15.744v8.513c0,0.463-0.23,0.895-0.616,1.152C31.152,25.562,30.885,25.642,30.615,25.642z"></path>
        </g>
      </g>
    </g>
  </g>
  <g id="dashboard-speed" data-iconmelon="Streamline Icon Set:9d5e041fe6851700b99e6f8889e05348">
    <g id="Expanded">
      <g>
        <g>
          <path  d="M16,32C7.178,32,0,24.821,0,16C0,7.178,7.178,0,16,0c8.821,0,16,7.178,16,16C32,24.821,24.821,32,16,32z
         M16,1.333C7.913,1.333,1.333,7.913,1.333,16c0,8.087,6.579,14.667,14.667,14.667c8.087,0,14.667-6.58,14.667-14.667
        C30.667,7.913,24.087,1.333,16,1.333z"></path>
        </g>
        <g>
          <path  d="M16,18.667c-1.471,0-2.667-1.196-2.667-2.667s1.196-2.666,2.667-2.666s2.667,1.195,2.667,2.666
        S17.471,18.667,16,18.667z M16,14.666c-0.735,0-1.333,0.599-1.333,1.334s0.598,1.333,1.333,1.333s1.333-0.598,1.333-1.333
        S16.735,14.666,16,14.666z"></path>
        </g>
        <g>
          <path  d="M17.415,15.252c-0.171,0-0.342-0.064-0.472-0.195c-0.261-0.26-0.261-0.682,0-0.941l6.6-6.6
        c0.261-0.261,0.682-0.261,0.942,0s0.261,0.682,0,0.943l-6.6,6.599C17.755,15.188,17.585,15.252,17.415,15.252z"></path>
        </g>
        <g>
          <path  d="M6,16.667H3.333c-0.368,0-0.667-0.298-0.667-0.667s0.299-0.666,0.667-0.666H6
        c0.368,0,0.667,0.297,0.667,0.666S6.368,16.667,6,16.667z"></path>
        </g>
        <g>
          <path  d="M4.298,21.515c-0.262,0-0.51-0.155-0.616-0.412c-0.141-0.341,0.021-0.73,0.361-0.871l2.464-1.021
        c0.339-0.142,0.73,0.021,0.871,0.36c0.141,0.342-0.021,0.731-0.361,0.872l-2.464,1.021C4.469,21.497,4.383,21.515,4.298,21.515z"></path>
        </g>
        <g>
          <path  d="M27.701,21.515c-0.085,0-0.171-0.017-0.255-0.051l-2.463-1.021c-0.34-0.141-0.502-0.531-0.361-0.871
        c0.141-0.341,0.531-0.502,0.872-0.36l2.463,1.021c0.34,0.141,0.501,0.531,0.36,0.871C28.211,21.359,27.962,21.515,27.701,21.515z
        "></path>
        </g>
        <g>
          <path  d="M28.666,16.667L28.666,16.667h-2.667c-0.367,0-0.666-0.3-0.666-0.667c0-0.369,0.299-0.666,0.666-0.666
        l0,0h2.667c0.368,0,0.667,0.299,0.667,0.666C29.333,16.369,29.034,16.667,28.666,16.667z"></path>
        </g>
        <g>
          <path  d="M25.238,12.84c-0.262,0-0.51-0.155-0.616-0.411c-0.141-0.341,0.021-0.731,0.362-0.872l2.463-1.019
        c0.339-0.141,0.729,0.021,0.87,0.361s-0.021,0.73-0.36,0.871l-2.464,1.02C25.41,12.823,25.324,12.84,25.238,12.84z"></path>
        </g>
        <g>
          <path  d="M19.827,7.428c-0.085,0-0.172-0.016-0.256-0.051c-0.34-0.142-0.501-0.531-0.36-0.872l1.021-2.462
        c0.141-0.34,0.531-0.501,0.871-0.361c0.341,0.141,0.502,0.531,0.361,0.872l-1.021,2.462C20.336,7.273,20.088,7.428,19.827,7.428z
        "></path>
        </g>
        <g>
          <path  d="M16,6.667L16,6.667c-0.369,0-0.667-0.299-0.667-0.667l0-2.666c0-0.369,0.299-0.667,0.667-0.667l0,0
        c0.369,0,0.667,0.299,0.667,0.667V6C16.667,6.369,16.368,6.667,16,6.667z"></path>
        </g>
        <g>
          <path  d="M12.173,7.428c-0.262,0-0.51-0.155-0.616-0.412l-1.019-2.463c-0.141-0.341,0.021-0.73,0.361-0.871
        c0.34-0.142,0.73,0.021,0.871,0.36l1.02,2.463c0.141,0.341-0.021,0.731-0.361,0.872C12.345,7.412,12.259,7.428,12.173,7.428z"></path>
        </g>
        <g>
          <path  d="M8.929,9.596c-0.17,0-0.341-0.065-0.472-0.195L6.573,7.515c-0.26-0.261-0.26-0.683,0-0.943
        c0.261-0.261,0.683-0.261,0.943,0l1.885,1.886c0.26,0.261,0.26,0.683,0,0.943C9.27,9.531,9.099,9.596,8.929,9.596z"></path>
        </g>
        <g>
          <path  d="M6.761,12.84c-0.084,0-0.171-0.016-0.255-0.05l-2.463-1.021c-0.34-0.142-0.501-0.531-0.36-0.871
        c0.141-0.34,0.53-0.502,0.871-0.361l2.463,1.021c0.34,0.142,0.501,0.531,0.361,0.872C7.271,12.685,7.023,12.84,6.761,12.84z"></path>
        </g>
        <g>
          <path  d="M22,26.667H10c-0.368,0-0.667-0.299-0.667-0.667v-4c0-0.368,0.299-0.667,0.667-0.667h12
        c0.368,0,0.667,0.299,0.667,0.667v4C22.667,26.368,22.368,26.667,22,26.667z M10.667,25.333h10.667v-2.666H10.667V25.333z"></path>
        </g>
      </g>
    </g>
  </g>
  <g id="receipt-shopping" data-iconmelon="Streamline Icon Set:dd5ed9af7f9ad13277312ce283f02317">
    <g id="Expanded">
      <g>
        <g>
          <rect x="10.667" y="22.333"  width="9.967" height="1.334"></rect>
        </g>
        <g>
          <rect x="19.085" y="27.667"  width="5.549" height="1.333"></rect>
        </g>
        <g>
          <path  d="M18.667,7.666H16c-0.368,0-0.667-0.298-0.667-0.666c0-0.369,0.299-0.667,0.667-0.667h2.667
        c0.367,0,0.666,0.298,0.666,0.667C19.333,7.368,19.034,7.666,18.667,7.666z"></path>
        </g>
        <g>
          <path  d="M24.667,10.333h-7.334c-0.367,0-0.666-0.298-0.666-0.667C16.667,9.298,16.966,9,17.333,9h7.334
        c0.367,0,0.666,0.298,0.666,0.666C25.333,10.035,25.034,10.333,24.667,10.333z"></path>
        </g>
        <g>
          <path  d="M24,13h-8.667c-0.368,0-0.667-0.298-0.667-0.667s0.299-0.667,0.667-0.667H24
        c0.368,0,0.667,0.298,0.667,0.667S24.368,13,24,13z"></path>
        </g>
        <g>
          <path  d="M24.667,15.666h-9.333c-0.368,0-0.667-0.298-0.667-0.666c0-0.369,0.299-0.667,0.667-0.667h9.333
        c0.367,0,0.666,0.298,0.666,0.667C25.333,15.368,25.034,15.666,24.667,15.666z"></path>
        </g>
        <g>
          <path  d="M23.333,18.333h-8c-0.368,0-0.667-0.298-0.667-0.666c0-0.369,0.299-0.667,0.667-0.667h8
        C23.701,17,24,17.298,24,17.667C24,18.035,23.701,18.333,23.333,18.333z"></path>
        </g>
        <g>
          <path  d="M24,21h-9.333C14.299,21,14,20.702,14,20.333c0-0.368,0.299-0.666,0.667-0.666H24
        c0.368,0,0.667,0.298,0.667,0.666C24.667,20.702,24.368,21,24,21z"></path>
        </g>
        <g>
          <rect x="13.367" y="0.333"  width="16.633" height="1.333"></rect>
        </g>
        <g>
          <path  d="M16.634,31.667H0v-1.334c0.551,0,0.949-0.13,1.217-0.4c0.634-0.639,0.623-2.122,0.614-3.431
        c-0.011-1.463-0.02-2.846,0.755-3.626C2.945,22.516,3.42,22.333,4,22.333h6.116c1.344-7.311,1.219-19.203,1.218-19.325
        c0.015-0.938,0.46-2.675,2.033-2.675v1.333c-0.638,0-0.7,1.331-0.7,1.345c0.006,0.498,0.134,12.735-1.347,20.121l-0.107,0.535H4
        c-0.286,0-0.403,0.085-0.467,0.149c-0.385,0.388-0.376,1.604-0.369,2.677c0.009,1.322,0.02,2.793-0.59,3.84h14.06
        c0.551,0,0.949-0.13,1.217-0.4c0.634-0.639,0.623-2.122,0.613-3.431c-0.011-1.463-0.02-2.846,0.756-3.626
        c0.358-0.36,0.834-0.543,1.414-0.543c0.676,0,1.203,0.188,1.57,0.559c0.617,0.624,0.607,1.551,0.598,2.447
        c-0.008,0.755-0.016,1.536,0.369,1.926c0.266,0.267,0.758,0.402,1.463,0.402c0.072,0,0.292,0,0.592-0.309
        c2.701-2.773,2.895-18.512,2.741-24.342c0.015-0.947,0.46-2.684,2.033-2.684c1.739,0,2,3.342,2,5.333v0.667h-2.657
        c0.01,6.284-0.328,19.047-3.162,21.956C25.722,28.761,25.2,29,24.634,29c-1.09,0-1.879-0.262-2.41-0.799
        c-0.776-0.784-0.764-1.896-0.754-2.876c0.006-0.623,0.014-1.267-0.213-1.495c-0.133-0.136-0.412-0.163-0.623-0.163
        c-0.286,0-0.403,0.085-0.468,0.149c-0.385,0.388-0.376,1.604-0.369,2.677c0.011,1.569,0.023,3.348-1.001,4.379
        C18.273,31.399,17.546,31.667,16.634,31.667z M29.334,5h1.318c-0.069-1.631-0.374-3.139-0.704-3.347
        C29.362,1.666,29.3,2.997,29.3,3.011C29.309,3.332,29.324,4.031,29.334,5z"></path>
        </g>
      </g>
    </g>
  </g>
  <g id="image" data-iconmelon="80 icons pack:ff011e8bf64422e09ba4d40c65b65fe2">
    <g>
      <g>
        <path d="M28.729,4.699H3.271C1.467,4.699,0,6.166,0,7.969v16.062c0,1.803,1.467,3.27,3.271,3.27h25.459
      c1.804,0,3.271-1.467,3.271-3.27V7.969C32,6.166,30.533,4.699,28.729,4.699z M30.132,23.618h-0.935l-8.292-1.946l-5.723-4.286
      l-3.387,2.049l-4.672-5.301l-4.321,5.301L1.868,23.05V7.969c0-0.772,0.629-1.401,1.402-1.401h25.459
      c0.773,0,1.402,0.629,1.402,1.401V23.618z"></path>
      </g>
      <g>
        <circle cx="24.979" cy="11.46" r="2.674"></circle>
      </g>
    </g>
  </g>
</svg>
  <header>
    <nav>
      <ul>
          <li id="new_journey"><%= link_to("New Journey", root_path) %></li>
          <li><%= link_to("My Account", "#{user_path(session[:user_id])}") if !session[:user_id].nil?%></li>
          <li><%= link_to "Create Account", new_user_path if session[:user_id].nil? %></li>
          <li><%= link_to("Log in","/login") if session[:user_id].nil? %></li>
          <li><%= link_to("Log out #{User.find_by(id: session[:user_id]).first_name.capitalize}", "/session", method: "delete") unless !session[:user_id].nil? %></li>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
</html>


