<!DOCTYPE html>
<html>
<head>
  <title>Tangent</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <svg id="svg-source" height="0" version="1.1" 
  xmlns="http://www.w3.org/2000/svg" style="position:absolute; margin-left: -100%" 
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="compass" data-iconmelon="Batch:bef0eb947637d9aab57e7c362b767846">
    <path id="compass"  d="M16,32C7.164,32,0,24.836,0,16S7.164,0,16,0s16,7.164,16,16S24.836,32,16,32z M16,4
  C9.374,4,4,9.374,4,16s5.374,12,12,12s12-5.374,12-12S22.626,4,16,4z M10.342,21.656c-1.562-1.56,1.266-6.922,2.83-8.484
  c1.562-1.562,6.925-4.39,8.484-2.828c1.562,1.56-1.267,6.921-2.828,8.484C17.266,20.39,11.906,23.218,10.342,21.656z M20.242,11.758
  c-0.782-0.782-4.875,2.046-5.656,2.828l2.828,2.828C18.196,16.632,21.024,12.54,20.242,11.758z"></path>
  </g>
  <g id="shuffle" data-iconmelon="Batch:f9894992e474d68bbd15ea540a291db8">
    <path id="shuffle"  d="M2,10.002c-1.104,0-2-0.896-2-2c0-1.104,0.896-2,2-2h2c2.561,0,4.872,0.992,6.641,2.576
  c-0.869,1.09-1.539,2.328-1.984,3.682c-1.1-1.366-2.766-2.258-4.656-2.258H2z M20,10.002c-3.313,0-6,2.686-6,6
  c0,5.524-4.479,10-10,10H2c-1.104,0-2-0.894-2-2s0.896-2,2-2h2c3.314,0,6-2.687,6-6c0-5.522,4.479-10,10-10h4V4
  c0-0.808,0.488-1.54,1.234-1.848c0.747-0.308,1.608-0.136,2.18,0.434l4,4C31.804,6.976,32,7.488,32,8
  c0,0.512-0.196,1.024-0.586,1.414l-4,4c-0.571,0.572-1.433,0.742-2.18,0.434C24.488,13.54,24,12.808,24,12v-1.998H20z
   M27.414,18.586l4,4C31.804,22.976,32,23.487,32,24s-0.196,1.024-0.586,1.414l-4,4c-0.571,0.572-1.433,0.741-2.18,0.435
  C24.488,29.54,24,28.808,24,28v-1.998h-4c-2.56,0-4.872-0.989-6.643-2.574c0.869-1.092,1.539-2.328,1.986-3.684
  c1.101,1.368,2.767,2.258,4.656,2.258h4V20c0-0.808,0.488-1.54,1.234-1.849C25.981,17.845,26.843,18.017,27.414,18.586z"></path>
  </g>
</svg>
<header>
  <nav>
  <ul>
      <li><%= link_to("New Journey", root_path) %></li>
      <li><%= link_to("My Account", "#{user_path(session[:user_id])}") if !session[:user_id].nil?%></li>
      <li><%= link_to "Create Account", new_user_path if session[:user_id].nil? %></li>
      <li><%= link_to("Log in","/login") if session[:user_id].nil? %></li>
      <li><%= link_to("Log out #{User.find_by(id: session[:user_id]).first_name.capitalize}", "/session", method: "delete") unless session[:user_id].nil? %></li>
  </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>


